@font-face {
  font-family: "Allura", Arial, Helvetica, sans-serif;
  src: url(../fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}

.right-part-menu-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-part-menu-grid p {
  color: #a67245;
}

body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  font-family: "Roboto";
  outline: 0px;
}

ul {
  list-style-type: none;
}

header {
  min-height: 100vh;
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  color: #eeeeee;
  text-align: center;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5% 95%;
      grid-template-rows: 5% 95%;
}

@media screen and (max-width: 660px) {
  header {
    -ms-grid-rows: 10% 90%;
        grid-template-rows: 10% 90%;
  }
}

header nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  -ms-grid-columns: 15% 70% 15%;
      grid-template-columns: 15% 70% 15%;
}

@media screen and (max-width: 660px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header nav .logo {
  font-family: "Allura";
  text-align: left;
  font-size: 2.2rem;
  font-weight: 100;
  color: white;
}

@media screen and (max-width: 660px) {
  header nav .logo {
    width: 50%;
  }
}

header nav .menu {
  text-align: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media screen and (max-width: 660px) {
  header nav .menu {
    display: none;
  }
}

header nav .icons {
  text-align: right;
  padding: 0px 30px;
}

@media screen and (max-width: 660px) {
  header nav .icons {
    max-width: 50%;
    padding: 0px;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 0.8rem;
}

@media screen and (max-width: 800px) {
  header nav ul {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 660px) {
  header nav ul {
    font-size: 0.8rem;
  }
}

header nav ul li {
  padding: 0px 10px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-header .header-title {
  position: absolute;
  top: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 660px) {
  .main-header .header-title {
    padding: 0px 25px;
    top: 16%;
  }
}

.main-header .header-title h1 {
  font-family: "Allura";
  color: #a67245;
  font-weight: 100;
  font-family: "Allura";
  font-size: 3rem;
  font-weight: 100;
  line-height: 40px;
}

@media screen and (max-width: 660px) {
  .main-header .header-title h1 {
    line-height: 60px;
    font-size: 2rem;
  }
}

.main-header .header-title h1 span {
  font-family: "Poppins";
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 7px;
}

@media screen and (max-width: 660px) {
  .main-header .header-title h1 span {
    font-size: 2rem;
    letter-spacing: 10px;
  }
}

.main-header .header-title .icon-header {
  background: url(/assets/img/ic-plate-big.png) center/cover no-repeat;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.main-header .header-title h2 {
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.8rem;
  letter-spacing: 6px;
}

.section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  text-align: center;
}

@media screen and (max-width: 660px) {
  .section1 {
    display: block;
  }
}

.section1 .left-section1 {
  max-width: 100%;
  padding: 20px;
  background-color: #eeeeee;
}

.section1 .left-section1 .left-section1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  border: 1px dashed #a67245;
}

.section1 .left-section1 .left-section1-container h4 {
  font-family: "Allura";
  color: #a67245;
  font-weight: 100;
  font-size: 2rem;
  line-height: 20px;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.section1 .left-section1 .left-section1-container span {
  font-family: "Roboto";
  color: #21201e;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #000000;
}

.section1 .left-section1 .left-section1-container .icon-section1 {
  background: url(/assets/img/ic-plate.png) center/cover;
  width: 30px;
  height: 30px;
}

.section1 .left-section1 .left-section1-container p {
  font-family: "Poppins";
  color: #6d6d6d;
  font-size: 0.8rem;
}

.section1 .left-section1 .left-section1-container .chefcook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.section1 .left-section1 .left-section1-container .chefcook .chef-pic {
  background: url(/assets/img/avatar-01.jpg) center/cover;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: 10px;
}

.section1 .left-section1 .left-section1-container .chefcook h4 {
  font-family: "Roboto";
  color: #21201e;
  font-size: 1rem;
  -webkit-margin-after: 0.1em;
          margin-block-end: 0.1em;
}

.section1 .left-section1 .left-section1-container .chefcook h5 {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #9f9f9f;
  font-weight: 100;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.section1 .right-section1 {
  max-width: 100%;
  background: url(/assets/img/store-01.jpg) center/cover;
}

@media screen and (max-width: 660px) {
  .section1 .right-section1 {
    display: none;
  }
}

.section2 {
  background: #21201e;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section2::after {
  content: "";
  background: url(/assets/img/bg-menu-01.jpg) center/cover;
  position: absolute;
  bottom: 45px;
  max-width: 1920px;
  width: 100%;
  height: 580px;
  z-index: 1;
}

.section2 h2 {
  margin-block: 0;
  padding: 55px 0px 20px;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Allura";
  color: #a67245;
  font-weight: 100;
}

.section2 .icon-section2 {
  background: url(/assets/img/ic-plate.png) center/cover;
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.section2 ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  color: #eeeeee;
  font-family: "Poppins";
  font-weight: 100;
  width: 40%;
  margin-bottom: 35px;
}

@media screen and (max-width: 875px) {
  .section2 ul {
    width: 80%;
  }
}

.section2 ul li {
  position: relative;
}

.section2 ul li::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #eeeeee;
  position: absolute;
  bottom: -7px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.section2 .menu-section2 {
  display: -ms-grid;
  display: grid;
  z-index: 2;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background: #eeeeee;
  width: 60%;
  border-top: 5px solid #a67245;
  margin-bottom: 150px;
  padding-bottom: 20px;
  height: 550px;
}

@media screen and (max-width: 875px) {
  .section2 .menu-section2 {
    display: block;
    width: 80%;
    height: 100%;
  }
}

.section2 .menu-section2 .left-menu-section2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60% 10%;
      grid-template-columns: 30% 60% 10%;
  border-bottom: 1px dashed #9f9f9f;
  margin: 0px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 875px) {
  .section2 .menu-section2 .left-menu-section2 .menu-grid-1 {
    padding: 35px 0px;
  }
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-1 .menu-pic {
  background: url(/assets/img/dish-item-01.jpg) center/cover;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-1 .menu-pic {
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-1 .text-menu {
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 432px) {
  .section2 .menu-section2 .left-menu-section2 .menu-grid-1 .text-menu {
    padding: 0px 15px;
  }
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-1 .text-menu h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Roboto";
  font-size: 0.7rem;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-1 .text-menu p {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.7rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #686868;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60% 10%;
      grid-template-columns: 30% 60% 10%;
  border-bottom: 1px dashed #9f9f9f;
  margin: 0px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 875px) {
  .section2 .menu-section2 .left-menu-section2 .menu-grid-2 {
    padding: 35px 0px;
  }
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-2 .menu-pic {
  background: url(/assets/img/dish-item-02.jpg) center/cover;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-2 .menu-pic {
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-2 .text-menu {
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 432px) {
  .section2 .menu-section2 .left-menu-section2 .menu-grid-2 .text-menu {
    padding: 0px 15px;
  }
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-2 .text-menu h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Roboto";
  font-size: 0.7rem;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-2 .text-menu p {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.7rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #686868;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60% 10%;
      grid-template-columns: 30% 60% 10%;
  border-bottom: 1px dashed #9f9f9f;
  margin: 0px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 875px) {
  .section2 .menu-section2 .left-menu-section2 .menu-grid-3 {
    padding: 35px 0px;
  }
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-3 .menu-pic {
  background: url(/assets/img/dish-item-03.jpg) center/cover;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-3 .menu-pic {
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-3 .text-menu {
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 432px) {
  .section2 .menu-section2 .left-menu-section2 .menu-grid-3 .text-menu {
    padding: 0px 15px;
  }
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-3 .text-menu h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Roboto";
  font-size: 0.7rem;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-3 .text-menu p {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.7rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #686868;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60% 10%;
      grid-template-columns: 30% 60% 10%;
  border-bottom: 1px dashed #9f9f9f;
  margin: 0px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 875px) {
  .section2 .menu-section2 .left-menu-section2 .menu-grid-4 {
    padding: 35px 0px;
  }
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-4 .menu-pic {
  background: url(/assets/img/dish-item-04.jpg) center/cover;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-4 .menu-pic {
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-4 .text-menu {
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 432px) {
  .section2 .menu-section2 .left-menu-section2 .menu-grid-4 .text-menu {
    padding: 0px 15px;
  }
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-4 .text-menu h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Roboto";
  font-size: 0.7rem;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.section2 .menu-section2 .left-menu-section2 .menu-grid-4 .text-menu p {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.7rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #686868;
}

.section2 .menu-section2 .right-menu-section2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60% 10%;
      grid-template-columns: 30% 60% 10%;
  border-bottom: 1px dashed #9f9f9f;
  margin: 0px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 875px) {
  .section2 .menu-section2 .right-menu-section2 .menu-grid-5 {
    padding: 35px 0px;
  }
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-5 .menu-pic {
  background: url(/assets/img/dish-item-05.jpg) center/cover;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-5 .menu-pic {
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-5 .text-menu {
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 432px) {
  .section2 .menu-section2 .right-menu-section2 .menu-grid-5 .text-menu {
    padding: 0px 15px;
  }
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-5 .text-menu h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Roboto";
  font-size: 0.7rem;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-5 .text-menu p {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.7rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #686868;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60% 10%;
      grid-template-columns: 30% 60% 10%;
  border-bottom: 1px dashed #9f9f9f;
  margin: 0px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 875px) {
  .section2 .menu-section2 .right-menu-section2 .menu-grid-6 {
    padding: 35px 0px;
  }
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-6 .menu-pic {
  background: url(/assets/img/dish-item-06.jpg) center/cover;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-6 .menu-pic {
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-6 .text-menu {
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 432px) {
  .section2 .menu-section2 .right-menu-section2 .menu-grid-6 .text-menu {
    padding: 0px 15px;
  }
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-6 .text-menu h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Roboto";
  font-size: 0.7rem;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-6 .text-menu p {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.7rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #686868;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-7 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60% 10%;
      grid-template-columns: 30% 60% 10%;
  border-bottom: 1px dashed #9f9f9f;
  margin: 0px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 875px) {
  .section2 .menu-section2 .right-menu-section2 .menu-grid-7 {
    padding: 35px 0px;
  }
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-7 .menu-pic {
  background: url(/assets/img/dish-item-07.jpg) center/cover;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-7 .menu-pic {
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-7 .text-menu {
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 432px) {
  .section2 .menu-section2 .right-menu-section2 .menu-grid-7 .text-menu {
    padding: 0px 15px;
  }
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-7 .text-menu h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Roboto";
  font-size: 0.7rem;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-7 .text-menu p {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.7rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #686868;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-8 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60% 10%;
      grid-template-columns: 30% 60% 10%;
  border-bottom: 1px dashed #9f9f9f;
  margin: 0px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 875px) {
  .section2 .menu-section2 .right-menu-section2 .menu-grid-8 {
    padding: 35px 0px;
  }
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-8 .menu-pic {
  background: url(/assets/img/dish-item-08.jpg) center/cover;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-8 .menu-pic {
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-8 .text-menu {
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 432px) {
  .section2 .menu-section2 .right-menu-section2 .menu-grid-8 .text-menu {
    padding: 0px 15px;
  }
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-8 .text-menu h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Roboto";
  font-size: 0.7rem;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.section2 .menu-section2 .right-menu-section2 .menu-grid-8 .text-menu p {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.7rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  color: #686868;
}

.section3 {
  background: #21201e;
  padding: 25px 0px;
}

.section3 .section3-element {
  width: 70%;
  margin: 0 auto 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

.section3 .section3-element .left-part {
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.section3 .section3-element .left-part .left-part-container {
  border: 1px dashed #eeeeee;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .section3-element .left-part .left-part-container h2 {
  font-family: "Allura";
  color: #a67245;
  font-weight: 100;
  font-size: 2.5rem;
  text-align: center;
  line-height: 25px;
}

.section3 .section3-element .left-part .left-part-container h2 span {
  font-family: "Roboto";
  text-transform: uppercase;
  color: #eeeeee;
  font-size: 1.5rem;
}

.section3 .section3-element .left-part .left-part-container .icon {
  background: url(/assets/img/ic-plate.png) center/cover;
  width: 30px;
  height: 30px;
}

.section3 .section3-element .left-part .left-part-container h3 {
  font-family: "Roboto";
  text-transform: uppercase;
  color: #a67245;
}

.section3 .section3-element .left-part .left-part-container p {
  color: #eeeeee;
  font-family: "Poppins";
  text-align: center;
  font-weight: 100;
  font-size: 0.8rem;
}

.section3 .section3-element .right-part {
  background: #eeeeee;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .section3-element .right-part .right-part-container {
  height: 80%;
  width: 100%;
}

.section3 .section3-element .right-part .right-part-container h3 {
  font-family: "Allura";
  color: #a67245;
  font-weight: 100;
  font-size: 2.5rem;
  text-align: center;
  line-height: 30px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.section3 .section3-element .right-part .right-part-container h3 span {
  font-family: "Roboto";
  text-transform: uppercase;
  color: #000000;
  font-size: 2rem;
}

.section3 .section3-element .right-part .right-part-container .icon {
  background: url(/assets/img/ic-plate.png) center/cover;
  width: 30px;
  height: 30px;
  margin: 25px auto 45px;
}

.section3 .section3-element .right-part .right-part-container form .container {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 33% 34% 33%;
      grid-template-columns: 33% 34% 33%;
  -ms-grid-rows: 33% 34% 33%;
      grid-template-rows: 33% 34% 33%;
  gap: 15px;
}

.section3 .section3-element .right-part .right-part-container form .container .form-input {
  border-bottom: 1px solid #b0b0b0;
  width: 100%;
}

.section3 .section3-element .right-part .right-part-container form .container input:not([type="submit"]) {
  background: transparent;
  padding: 8px;
  border-width: 0;
  font-family: "Poppins";
  font-weight: 100;
  width: 100%;
}

.section3 .section3-element .right-part .right-part-container form .submit-btn {
  display: block;
  width: 100%;
}

.section3 .section3-element .right-part .right-part-container form input[type="submit"] {
  background: #000000;
  color: #eeeeee;
  font-family: "Roboto";
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-top: 35px;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

.section4 {
  background: #21201e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
}

.section4::after {
  content: "";
  background: url(/assets/img/gmap.jpg) center/cover;
  height: 25%;
  width: 100%;
  bottom: 0px;
  position: absolute;
  z-index: 0;
}

.section4 h2 {
  font-family: "Allura";
  color: #a67245;
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 30px;
}

.section4 h2 span {
  font: 2rem "Roboto";
  letter-spacing: 1px;
  color: #eeeeee;
  text-transform: uppercase;
}

.section4 .icon {
  background: url(/assets/img/ic-plate.png) center/cover;
  width: 30px;
  height: 30px;
}

.section4 .grid-container {
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  margin: 40px 0 40px;
}

.section4 .grid-container .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
  gap: 20px;
}

.section4 .grid-container .left-part .top-element {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  background: #eeeeee;
  height: 220px;
}

.section4 .grid-container .left-part .top-element .left-part-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .grid-container .left-part .top-element .left-part-element .square {
  height: 100px;
  width: 100px;
  background: #21201e;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .grid-container .left-part .top-element .left-part-element .square p {
  font-size: 2rem;
  line-height: 20px;
}

.section4 .grid-container .left-part .top-element .left-part-element .square p span {
  font-size: 0.8rem;
}

.section4 .grid-container .left-part .top-element .right-part-element {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section4 .grid-container .left-part .top-element .right-part-element h4 {
  font-family: "Poppins";
  font-size: 1.2rem;
  text-align: left;
  font-weight: 100;
  padding-left: 5px;
  margin-block: 0px;
  color: #5d5d5d;
}

.section4 .grid-container .left-part .top-element .right-part-element .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.8rem;
  color: #c1c1c1;
}

.section4 .grid-container .left-part .top-element .right-part-element .info i,
.section4 .grid-container .left-part .top-element .right-part-element .info p {
  margin-right: 5px;
}

.section4 .grid-container .left-part .top-element .right-part-element a {
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  display: block;
  color: #494949;
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.section4 .grid-container .left-part .top-element .left-part-element {
  background: url(/assets/img/event-01.jpg) center/cover;
}

.section4 .grid-container .left-part .bottom-element {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  background: #eeeeee;
  height: 220px;
}

.section4 .grid-container .left-part .bottom-element .left-part-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .grid-container .left-part .bottom-element .left-part-element .square {
  height: 100px;
  width: 100px;
  background: #21201e;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .grid-container .left-part .bottom-element .left-part-element .square p {
  font-size: 2rem;
  line-height: 20px;
}

.section4 .grid-container .left-part .bottom-element .left-part-element .square p span {
  font-size: 0.8rem;
}

.section4 .grid-container .left-part .bottom-element .right-part-element {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section4 .grid-container .left-part .bottom-element .right-part-element h4 {
  font-family: "Poppins";
  font-size: 1.2rem;
  text-align: left;
  font-weight: 100;
  padding-left: 5px;
  margin-block: 0px;
  color: #5d5d5d;
}

.section4 .grid-container .left-part .bottom-element .right-part-element .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.8rem;
  color: #c1c1c1;
}

.section4 .grid-container .left-part .bottom-element .right-part-element .info i,
.section4 .grid-container .left-part .bottom-element .right-part-element .info p {
  margin-right: 5px;
}

.section4 .grid-container .left-part .bottom-element .right-part-element a {
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  display: block;
  color: #494949;
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.section4 .grid-container .left-part .bottom-element .left-part-element {
  background: url(/assets/img/event-02.jpg) center/cover;
}

.section4 .grid-container .right-part {
  background: url(/assets/img/event-03.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .grid-container .right-part .right-part-container {
  background: #eeeeee;
  width: 90%;
  height: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section4 .grid-container .right-part .right-part-container .square {
  height: 100px;
  width: 100px;
  background: #21201e;
  color: #eeeeee;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
}

.section4 .grid-container .right-part .right-part-container .square p {
  font-size: 2rem;
  line-height: 20px;
}

.section4 .grid-container .right-part .right-part-container .square p span {
  font-size: 0.8rem;
}

.section4 .grid-container .right-part .right-part-container h3 {
  font-family: "Poppins";
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  padding-left: 5px;
  margin-block: 0px;
  color: #5d5d5d;
}

.section4 .grid-container .right-part .right-part-container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.8rem;
  color: #c1c1c1;
}

.section4 .grid-container .right-part .right-part-container .info i,
.section4 .grid-container .right-part .right-part-container .info p {
  margin-right: 5px;
}

.section4 .grid-container .right-part .right-part-container a {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #494949;
  font-size: 0.8rem;
  letter-spacing: 3px;
  position: absolute;
  bottom: 15%;
}

.section4 .testimonials {
  background: #eeeeee;
  z-index: 5;
  width: 80%;
  position: relative;
  border: 1px solid #21201e;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px 0 250px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .testimonials .icon-chef {
  height: 80px;
  width: 80px;
  background: url(/assets/img/avatar-02.jpg) center/cover;
  border-radius: 40px;
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section4 .testimonials .text {
  width: 80%;
}

.section4 .testimonials .text p {
  font-family: "Poppins";
  font-weight: 100;
  color: #6d6d6d;
  line-height: 30px;
  margin-top: 8%;
}

.section4 .testimonials .text h3 {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 1.5rem;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  color: #353535;
}

.section4 .testimonials .text h4 {
  font-family: "Poppins";
  font-weight: 100;
  color: #a67245;
}

footer {
  background: url(/assets/img/bg-footer.jpg) center/cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  height: 300px;
}

footer .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .left-part .text {
  width: 80%;
}

footer .left-part .text h3 {
  font-family: "Allura";
  color: #a67245;
  font-weight: 100;
  font-size: 2.5rem;
}

footer .left-part .text p {
  color: #6d6d6d;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
}

footer .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .right-part .container {
  width: 80%;
}

footer .right-part .container .newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .right-part .container .newsletter form label {
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 10px;
}

footer .right-part .container .newsletter form input {
  background: transparent;
  border: 1px solid #342a2a;
  width: 50%;
  padding: 10px;
  color: #eeeeee;
}

footer .right-part .container .contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  margin-top: 20px;
  width: 60%;
}

footer .right-part .container .contact h3 {
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 1rem;
}

footer .right-part .container .contact .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6d6d6d;
}
/*# sourceMappingURL=index.css.map */