@font-face {
  font-family: "Allura", Arial, Helvetica, sans-serif;
  src: url(../fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  src: url(../fonts/Roboto-Light.ttf);
}

body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  font-family: "Roboto";
}

ul {
  list-style-type: none;
}

header {
  min-height: 100vh;
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  color: #eeeeee;
  text-align: center;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5% 95%;
      grid-template-rows: 5% 95%;
}

header nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  -ms-grid-columns: 15% 70% 15%;
      grid-template-columns: 15% 70% 15%;
}

header nav .logo {
  font-family: "Allura";
  text-align: left;
  font-size: 2rem;
  font-weight: 100;
  color: white;
}

header nav .menu {
  text-align: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

header nav .icons {
  text-align: right;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 0.8rem;
}

header nav ul li {
  padding: 0px 10px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .header-title {
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header .header-title h1 {
  font-family: "Allura";
  color: #a67245;
  font-weight: 100;
  font-family: "Allura";
  font-size: 3rem;
  font-weight: 100;
  line-height: 40px;
}

.main-header .header-title h1 span {
  font-family: "Poppins";
  color: #eeeeee;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 7px;
}

.main-header .header-title .icon-header {
  background: url(/assets/img/ic-plate-big.png) center/cover no-repeat;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.main-header .header-title h2 {
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 0.8rem;
  letter-spacing: 6px;
}

.section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  text-align: center;
}

.section1 .left-section1 {
  max-width: 100%;
  padding: 15px;
  background-color: #eeeeee;
}

.section1 .left-section1 .left-section1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  border: 1px dashed #a67245;
}

.section1 .left-section1 .left-section1-container h4 {
  font-family: "Allura";
  color: #a67245;
  font-weight: 100;
  font-size: 2rem;
  line-height: 20px;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.section1 .left-section1 .left-section1-container span {
  font-family: "Roboto";
  color: #21201e;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #000000;
}

.section1 .left-section1 .left-section1-container .icon-section1 {
  background: url(/assets/img/ic-plate.png) center/cover;
  width: 30px;
  height: 30px;
}

.section1 .left-section1 .left-section1-container p {
  font-family: "Poppins";
  color: #6d6d6d;
  font-size: 0.8rem;
}

.section1 .left-section1 .left-section1-container .chefcook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.section1 .left-section1 .left-section1-container .chefcook .chef-pic {
  background: url(/assets/img/avatar-01.jpg) center/cover;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: 10px;
}

.section1 .left-section1 .left-section1-container .chefcook h4 {
  font-family: "Roboto";
  color: #21201e;
  font-size: 1rem;
  -webkit-margin-after: 0.1em;
          margin-block-end: 0.1em;
}

.section1 .left-section1 .left-section1-container .chefcook h5 {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #9f9f9f;
  font-weight: 100;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.section1 .right-section1 {
  max-width: 100%;
  background: url(/assets/img/store-01.jpg) center/cover;
}
/*# sourceMappingURL=index.css.map */