header {
  min-height: 100vh;
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  color: $color1;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-rows: 5% 95%;

  nav {
    display: grid;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 15% 70% 15%;
    .logo {
      font-family: $font1;
      text-align: left;
      font-size: 2rem;
      font-weight: 100;
      color: white;
    }
    .menu {
      text-align: center;
      padding-inline-start: 0;
    }
    .icons {
      text-align: right;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-transform: uppercase;
      font-family: $font2;
      font-size: 0.8rem;
      li {
        padding: 0px 10px;
      }
    }
  }
}
.main-header {
  @include center;

  .header-title {
    margin-bottom: 10%;
    @include center;
    flex-direction: column;
    h1 {
      @include title;
      font-family: $font1;
      font-size: 3rem;
      font-weight: 100;
      line-height: 40px;

      span {
        @include title2;
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 7px;
      }
    }
    .icon-header {
      background: url(/assets/img/ic-plate-big.png) center/cover no-repeat;
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
    }
    h2 {
      text-transform: uppercase;
      font-family: $font2;
      font-weight: 100;
      font-size: 0.8rem;
      letter-spacing: 6px;
    }
  }
}
