.section4 {
  background: $color4;
  @include center;
  flex-direction: column;
  text-align: center;
  h2 {
    @include title;
    font-size: 2.5rem;
    line-height: 30px;
    span {
      font: 2rem $font3;
      letter-spacing: 1px;
      color: $color1;
      text-transform: uppercase;
    }
  }
  .icon {
    background: url(/assets/img/ic-plate.png) center/cover;
    width: 30px;
    height: 30px;
  }
  .grid-container {
    display: grid;
    width: 80%;
    grid-template-columns: 60% 40%;
    margin: 40px 0 40px;

    .left-part {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 20px;
      gap: 20px;
      .top-element {
        @include event-template;
        .left-part-element {
          background: url(/assets/img/event-01.jpg) center/cover;
        }
      }
      .bottom-element {
        @include event-template;
        .left-part-element {
          background: url(/assets/img/event-02.jpg) center/cover;
        }
      }
    }
    .right-part {
      background: url(/assets/img/event-03.jpg) center/cover;
      @include center;
      .right-part-container {
        background: $color1;
        width: 90%;
        height: 90%;
        position: relative;
        @include center;
        flex-direction: column;

        .square {
          height: 100px;
          width: 100px;
          background: $color4;
          color: $color1;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          display: block;

          p {
            font-size: 2rem;
            line-height: 20px;
            span {
              font-size: 0.8rem;
            }
          }
        }
        h3 {
          font-family: $font2;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 100;
          padding-left: 5px;
          margin-block: 0px;
          color: rgb(93, 93, 93);
        }
        .info {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: $font2;
          font-weight: 100;
          font-size: 0.8rem;
          color: rgb(193, 193, 193);
          i,
          p {
            margin-right: 5px;
          }
        }
        a {
          text-transform: uppercase;
          text-decoration: none;
          text-align: center;
          display: block;
          color: rgb(73, 73, 73);
          font-size: 0.8rem;
          letter-spacing: 3px;
          position: absolute;
          bottom: 15%;
        }
      }
    }
  }
  .testimonials {
    background: $color1;
    width: 80%;
    position: relative;
    border: 1px solid $color4;
    flex-direction: column;
    margin: 100px 0 200px;
    height: 380px;
    @include center;
    .icon-chef {
      height: 80px;
      width: 80px;
      background: url(/assets/img/avatar-02.jpg) center/cover;
      border-radius: 40px;
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
    }
    .text {
      width: 80%;
      p {
        font-family: $font2;
        font-weight: 100;
        color: $color5;
        line-height: 30px;
        margin-top: 8%;
      }
      h3 {
        font-family: $font2;
        font-weight: 100;
        font-size: 1.5rem;
        margin-block-end: 0;
        color: rgb(53, 53, 53);
      }
      h4 {
        font-family: $font2;
        font-weight: 100;
        color: $color2;
      }
    }
  }
}
