.section2 {
  background: $color4;
  text-align: center;
  position: relative;

  @include center;
  flex-direction: column;

  &::after {
    content: "";
    background: url(/assets/img/bg-menu-01.jpg) center/cover;
    position: absolute;
    bottom: 45px;
    max-width: 1920px;
    width: 100%;
    height: 580px;
    z-index: 1;
  }
  h2 {
    margin-block: 0;
    padding: 55px 0px 20px;
    text-align: center;
    font-size: 2.5rem;
    @include title;
  }
  .icon-section2 {
    background: url(/assets/img/ic-plate.png) center/cover;
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
  }
  ul {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding: 0;
    color: $color1;
    font-family: $font2;
    font-weight: 100;
    width: 40%;
    margin-bottom: 35px;
    @media screen and(max-width:875px ) {
      width: 80%;
    }
    li {
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background: $color1;
        position: absolute;
        bottom: -7px;
        transform: translateX(-100%);
      }
    }
  }
  .menu-section2 {
    display: grid;
    z-index: 2;
    grid-template-columns: 50% 50%;
    background: $color1;
    width: 60%;
    border-top: 5px solid $color2;
    margin-bottom: 150px;
    padding-bottom: 20px;
    height: 550px;
    @media screen and(max-width:875px ) {
      display: block;
      width: 80%;
      height: 100%;
    }
    .left-menu-section2 {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      .menu-grid-1 {
        @include grid-template;

        .menu-pic {
          background: url(/assets/img/dish-item-01.jpg) center/cover;
        }
        @include grid-template-2;
      }
      .menu-grid-2 {
        @include grid-template;

        .menu-pic {
          background: url(/assets/img/dish-item-02.jpg) center/cover;
        }
        @include grid-template-2;
      }
      .menu-grid-3 {
        @include grid-template;

        .menu-pic {
          background: url(/assets/img/dish-item-03.jpg) center/cover;
        }
        @include grid-template-2;
      }
      .menu-grid-4 {
        @include grid-template;

        .menu-pic {
          background: url(/assets/img/dish-item-04.jpg) center/cover;
        }
        @include grid-template-2;
      }
    }
    .right-menu-section2 {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      .menu-grid-5 {
        @include grid-template;

        .menu-pic {
          background: url(/assets/img/dish-item-05.jpg) center/cover;
        }
        @include grid-template-2;
      }
      .menu-grid-6 {
        @include grid-template;
        .menu-pic {
          background: url(/assets/img/dish-item-06.jpg) center/cover;
        }
        @include grid-template-2;
      }
      .menu-grid-7 {
        @include grid-template;
        .menu-pic {
          background: url(/assets/img/dish-item-07.jpg) center/cover;
        }
        @include grid-template-2;
      }
      .menu-grid-8 {
        @include grid-template;
        .menu-pic {
          background: url(/assets/img/dish-item-08.jpg) center/cover;
        }
        @include grid-template-2;
      }
    }
  }
}
